<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Student Management"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.GK09"
        tools:targetApi="31">
        <activity
            android:name=".UserManage"
            android:exported="false"
            android:label="Manage Users"
            android:parentActivityName=".AfterLogin"/>
        <activity
            android:name=".UserProfile"
            android:exported="false"
            android:label="User profile"
            android:parentActivityName=".AfterLogin" />
        <activity
            android:name=".AfterLogin"
            android:exported="false"
            android:label="Dashboard"
            android:launchMode="singleTop" />

        <activity
            android:name=".StudentManage"
            android:exported="false"
            android:label="Student Management"
            android:parentActivityName=".AfterLogin" />

        <activity
            android:name=".AddStudent"
            android:exported="false"
            android:label="Add Student"
            android:parentActivityName=".StudentManage" />

        <activity
            android:name=".UpdateStudent"
            android:exported="false"
            android:label="Update Student"
            android:parentActivityName=".StudentManage" />

        <activity
            android:name=".StudentDetails"
            android:exported="false"
            android:label="Student Details"
            android:parentActivityName=".StudentManage" />

        <activity
            android:name=".AddCertificate"
            android:exported="false"
            android:label="Add Certificate"
            android:parentActivityName=".StudentDetails" />

        <activity
            android:name=".UpdateCertificate"
            android:exported="false"
            android:label="Update Certificate" />

        <activity
            android:name=".MainActivity"
            android:label="LOGIN"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>